.pdf3a-container {
  button {
    background: #fcbaad;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      border: 1px solid #fcbaad;
      font-weight: 800;
    }
  }
}
