button {
  background: #FCBAAD;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background: #8CC0DE;
    color: #FAF0D7;
  }
}
