.pdf6a-container {
  button {
    background: #8cc0de;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    &:hover {
      border: 1px solid #8cc0de;
      font-weight: 800;
    }
  }
}
