.cooptex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a1ccd1;

  .form {
    display: flex;
    flex-direction: column;
    background-color: #f4f2de;
    text-align: center;
    padding: 40px;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: large;
        font-weight: 800;
        margin: 0px 0px 30px 0px;
      }

      img {
        height: 100px;
        width: 70px;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      gap: 20px;

      input {
        background-color: white;
        width: 300px;
        border: none;
        outline: none;
        padding: 7px;
        line-height: 30px;
        color: black;

        &::placeholder {
          color: rgb(81, 81, 81);
        }
      }

      .form-name,
      .form-uan {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .form-submit {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          font-size: 15px;
          padding: 10px 20px;
          background-color: #a1ccd1;
          color: #2f2f2f;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: #35c3cd;
          color: white;
          border: 1px solid #35c3cd;
        }
      }
    }
  }
}
